

<% @strains.each do |strain| %>
    <div class="col-md-6" id="">
        <div class="show-strains">
        <%= image_tag ("http://placehold.it/350x150")%>
        </div>
    </div>
    <div class="col-md-6">
      <h1>Lineage:</h1>
      <%= strain["lineage"]%>
      <h1>Description:</h1>
      <%= strain["symptoms"]%>
      <h1>Reviews:</h1>
      <%= link_to strain["reviews"]%>
      <h1>Also Known As:</h1>
      <%= strain[:genetics["names"]] %>
      <br>
      <p>For medicinal use only </p>
    </div>
  <% end %>
