

<% @strains.each do |strain| %>
    <div class="col-xs-12 .col-md-8" id="">
        <div class="show-strains">
          <%= strain["name"] %>
          <br>
        <%= image_tag strain["image"] %>
        </div>
    </div>
    <div class="col-xs-6 .col-md-8">
      <h1>Lineage:</h1>
    <% strain["lineage"].each do |k, v| %>
    <%= "#{k}" %>
    <br>
    <% end %>




      <h1>Description:</h1>
      <% strain["symptoms"].each do |k, v| %>
      <%= "#{k.capitalize} - #{v.to_f.round(2)}" %>
      <br>
      <% end %>

      <h1>Also Known As:</h1>
        <% a = strain["genetics"] %>
          <% b = a.values[0]  %>
          <%= "#{b.gsub(/\//, ",")}" unless b.eql?(false)%><br>

          <br>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Symptons
              <span class="caret"></span>
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <ul class="list-unstyled">
                    <li><%= link_to "Anxiety", "/strains/anxiety" %></li>
                    <li><%= link_to "Calming", "/strains/calming" %></li>
                    <li><%= link_to "Pain relief", "/strains/numbness" %></li>
                    <li><%= link_to "Appetite Gain", "/strains/appetite_gain" %></li>
                  </ul>
              </ul>
            </div>



      <br>
    </div>
    <br>
  <% end %>
